body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  height: 100vh;
}



.container {
  background-color: white;
  width: 80%;
  border-radius: 5px;
  overflow: hidden;
  height: 90vh;

  display: flex;
  align-items: center;
}

.container .login-container {
  width: 500px;
  margin: 0 auto;
}
.container .login-container > h2 {
  text-align: center;
  font-size: 2.5rem;
}

.container .login-container > p,
.container .login-container span {
  color: #555;
  text-align: center;
}

.container .login-container label {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}

.container .login-container input.input {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  border: solid 1px #ccc;
  width: 100%;
  border-radius: 5px;
}

.container .login-container input.input:focus {
  outline: solid 1px rgb(0, 153, 255);
}
.container .login-container .providers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 30px;
}
.container .login-container button.btn,
.container .login-container input.btn {
  border: none;
  padding: 15px 0;
  width: 100%;
  font-weight: bolder;
  display: block;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.container .login-container input.btn.btn-login {
  background-color: black;
  color: white;
}

.btn-login{
  background-color: black;
  color: white;
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  
}



.container .login-container .options {
  display: flex;
  justify-content: space-between;
}



